@import "main.sass"
@import "hero.sass"


.pos-section-container
    height: 100%
    display: flex
    padding: 0 8%
    align-items: center
    
.ican-class
    width: 45%

    h1
        font-size: 8rem
        color: $base-color

h1
    text-align: center
    font-family: "DM Sans"
    font-weight: 600
    

// Positions Card Styles
.pos-card-container
    position: absolute
    display: flex
    align-items: center
    justify-content: flex-start
    width: 25%
    left: 50%


.hidden
    opacity: 0.4
    left: 57%

.below
    margin-top: 15rem

.above
    margin-bottom: 15rem

.pos-icon-card
    position: absolute
    background-color: $base-color
    display: flex
    justify-content: center
    align-items: center
    width: 5rem
    height: 5rem

    border-radius: 50%
    z-index: 1

.icon-border
    position: absolute
    width: 6rem
    height: 6rem
    animation: rotation 12s infinite linear
    z-index: 1

.web-icon
    font-size: 2.5rem
    color: $white
    
.int-card
    color: $white
    width: 100%
    background: rgb(252,39,14)
    background: linear-gradient(163deg, #d8817760 0%, #97647073 100%)
    border-radius: 1rem
    backdrop-filter: blur(7px) brightness(100%)

    border: solid 1px #ffb9b9
    -webkit-box-shadow: 3px 6px 12px 5px rgb(0 0 0 / 68%)
    box-shadow: 3px 6px 12px 5px rgb(0 0 0 / 68%)

    margin-left: 2.5rem

    ul
        margin-left: 3rem
        font-size: 1.2rem
        font-family: "DM Sans"
        font-weight: 500


    h1
        font-size: 1.8rem
    



    